<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Parse requests that doesn't map to real files
  RewriteCond %{REQUEST_FILENAME} -s [OR]
  RewriteCond %{REQUEST_FILENAME} -l
  RewriteRule ^.*$ - [NC,L]
  #RewriteRule ^.*$ index.php [NC,L] # I need QSA rewrite rule instead of NC to pass parameters for CRUD actions
  RewriteRule ^.*$ index.php [QSA,L]
</IfModule>
